.DS_Store
Rock Tracks.xcodeproj/project.xcworkspace/xcuserdata/appledev.xcuserdatad/UserInterfaceState.xcuserstate
Rock Tracks.xcodeproj/xcuserdata/appledev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
